<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap/bootstrap.css" rel="stylesheet"/>
</head>
<body>
    <div class="card">
        <div class="card-header text-bg-danger">
        CALCULADORA DE PUNTOS POR PARTIDOS
        </div>
    </div>
<div class="card-body">
    <form th:action="@{/liga}" method="post" th:object="${ligaModel}">
        <div class="form-floating mb-3">
            <label for="txtwin"> Partidos Ganados: </label>
            <input type="text" class="form-control" id="txtwin" th:field="*{pganados}">

        </div>
        <div class="form-floating mb-3">
            <label for="txtdraw"> Partidos Empatados: </label>
            <input type="text" class="form-control" id="txtdraw" th:field="*{pempatados}">

        </div>
        <div class="form-floating mb-3">
            <label for="txtlost"> Partidos Perdidos: </label>
            <input type="text" class="form-control" id="txtlost" th:field="*{pperdidos}">

        </div>
        <hr />
            <button type="submit" class="btn btn-primary">CALCULAR</button>
            <div th:if="$(mostrarMensaje}" class="alert alert-danger" role="alert">
            <span th:text="$(resultado} ?: ''"></span>
            </div>
        </form>
</div>
</body>
</html>